In [15]:
import pandas as pd 
import matplotlib as mpl
import matplotlib.pyplot as plt

In [16]:
pd.read_csv(r'C:\Users\USER\OneDrive\Documents\GitHub\0502-capstone-gdpr-violations-Tracy-teb\2022 GDPR_fines_cleaned.csv')

,Unnamed: 0,ID,Country,Date,Amount,Controller_Processor,Quoted_Art,Type,Art_,Art_10,...,Art_48,Art_5,Art_58,Art_6,Art_7,Art_8,Art_82,Art_88,Art_9,VIOLATED_ARTICLES
0,0,1542,ITALY,10/11/2022,20000,Sportitalia,5,Non-compliance with general data processing pr...,0,0,...,0,1,0,0,0,0,0,0,0,1
1,1,1541,ITALY,24/11/2022,1000000,Areti spa,"5,12,15,24",Non-compliance with general data processing pr...,0,0,...,0,1,0,0,0,0,0,0,0,4
2,2,1540,ROMANIA,27/12/2022,3000,Kaufland Romania SCS,"29,32",Insufficient technical and organisational meas...,0,0,...,0,0,0,0,0,0,0,0,0,2
3,3,1539,ROMANIA,22/12/2022,10000,SUDREZIDENȚIAL Broker S.R.L.,32,Insufficient technical and organisational meas...,0,0,...,0,0,0,0,0,0,0,0,0,1
4,4,1538,ITALY,10/11/2022,4000,Villafranca di Verona municipality,"5,6,2-",Non-compliance with general data processing pr...,0,0,...,0,1,0,1,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1537,1537,5,BELGIUM,28/05/2019,2000,Mayor,"5,6",Insufficient legal basis for data processing,0,0,...,0,1,0,1,0,0,0,0,0,2
1538,1538,4,AUSTRIA,20/12/2018,2200,Private person,"5,13",Insufficient legal basis for data processing,0,0,...,0,1,0,0,0,0,0,0,0,2
1539,1539,3,AUSTRIA,27/09/2018,300,Private car owner,"5,6",Insufficient legal basis for data processing,0,0,...,0,1,0,1,0,0,0,0,0,2
1540,1540,2,AUSTRIA,2018,1800,Kebab restaurant,"5,13,14",Insufficient legal basis for data processing,0,0,...,0,1,0,0,0,0,0,0,0,3
1541,1541,1,AUSTRIA,09/12/2018,4800,Betting place,13,Insufficient fulfilment of information obligat...,0,0,...,0,0,0,0,0,0,0,0,0,1

In [17]:
gdpr_violations = pd.read_csv(r'C:\Users\USER\OneDrive\Documents\GitHub\0502-capstone-gdpr-violations-Tracy-teb\2022 GDPR_fines_cleaned.csv')
gdpr_violations

,Unnamed: 0,ID,Country,Date,Amount,Controller_Processor,Quoted_Art,Type,Art_,Art_10,...,Art_48,Art_5,Art_58,Art_6,Art_7,Art_8,Art_82,Art_88,Art_9,VIOLATED_ARTICLES
0,0,1542,ITALY,10/11/2022,20000,Sportitalia,5,Non-compliance with general data processing pr...,0,0,...,0,1,0,0,0,0,0,0,0,1
1,1,1541,ITALY,24/11/2022,1000000,Areti spa,"5,12,15,24",Non-compliance with general data processing pr...,0,0,...,0,1,0,0,0,0,0,0,0,4
2,2,1540,ROMANIA,27/12/2022,3000,Kaufland Romania SCS,"29,32",Insufficient technical and organisational meas...,0,0,...,0,0,0,0,0,0,0,0,0,2
3,3,1539,ROMANIA,22/12/2022,10000,SUDREZIDENȚIAL Broker S.R.L.,32,Insufficient technical and organisational meas...,0,0,...,0,0,0,0,0,0,0,0,0,1
4,4,1538,ITALY,10/11/2022,4000,Villafranca di Verona municipality,"5,6,2-",Non-compliance with general data processing pr...,0,0,...,0,1,0,1,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1537,1537,5,BELGIUM,28/05/2019,2000,Mayor,"5,6",Insufficient legal basis for data processing,0,0,...,0,1,0,1,0,0,0,0,0,2
1538,1538,4,AUSTRIA,20/12/2018,2200,Private person,"5,13",Insufficient legal basis for data processing,0,0,...,0,1,0,0,0,0,0,0,0,2
1539,1539,3,AUSTRIA,27/09/2018,300,Private car owner,"5,6",Insufficient legal basis for data processing,0,0,...,0,1,0,1,0,0,0,0,0,2
1540,1540,2,AUSTRIA,2018,1800,Kebab restaurant,"5,13,14",Insufficient legal basis for data processing,0,0,...,0,1,0,0,0,0,0,0,0,3
1541,1541,1,AUSTRIA,09/12/2018,4800,Betting place,13,Insufficient fulfilment of information obligat...,0,0,...,0,0,0,0,0,0,0,0,0,1

In [18]:
gdpr_violations.dtypes

Unnamed: 0            int64
ID                    int64
Country              object
Date                 object
Amount                int64
                      ...
Art_8                 int64
Art_82                int64
Art_88                int64
Art_9                 int64
VIOLATED_ARTICLES     int64
Length: 63, dtype: object

In [31]:
#Show the first 5 rows of the dataframe
gdpr_violations.head(5)

,Unnamed: 0,ID,Country,Date,Amount,Controller_Processor,Quoted_Art,Type,Art_,Art_10,...,Art_48,Art_5,Art_58,Art_6,Art_7,Art_8,Art_82,Art_88,Art_9,VIOLATED_ARTICLES
0,0,1542,ITALY,10/11/2022,20000,Sportitalia,5,Non-compliance with general data processing pr...,0,0,...,0,1,0,0,0,0,0,0,0,1
1,1,1541,ITALY,24/11/2022,1000000,Areti spa,"5,12,15,24",Non-compliance with general data processing pr...,0,0,...,0,1,0,0,0,0,0,0,0,4
2,2,1540,ROMANIA,27/12/2022,3000,Kaufland Romania SCS,"29,32",Insufficient technical and organisational meas...,0,0,...,0,0,0,0,0,0,0,0,0,2
3,3,1539,ROMANIA,22/12/2022,10000,SUDREZIDENȚIAL Broker S.R.L.,32,Insufficient technical and organisational meas...,0,0,...,0,0,0,0,0,0,0,0,0,1
4,4,1538,ITALY,10/11/2022,4000,Villafranca di Verona municipality,"5,6,2-",Non-compliance with general data processing pr...,0,0,...,0,1,0,1,0,0,0,0,0,3

In [33]:
# Show the last 5 or 10 rows
gdpr_violations.tail(5)

,Unnamed: 0,ID,Country,Date,Amount,Controller_Processor,Quoted_Art,Type,Art_,Art_10,...,Art_48,Art_5,Art_58,Art_6,Art_7,Art_8,Art_82,Art_88,Art_9,VIOLATED_ARTICLES
1537,1537,5,BELGIUM,28/05/2019,2000,Mayor,"5,6",Insufficient legal basis for data processing,0,0,...,0,1,0,1,0,0,0,0,0,2
1538,1538,4,AUSTRIA,20/12/2018,2200,Private person,"5,13",Insufficient legal basis for data processing,0,0,...,0,1,0,0,0,0,0,0,0,2
1539,1539,3,AUSTRIA,27/09/2018,300,Private car owner,"5,6",Insufficient legal basis for data processing,0,0,...,0,1,0,1,0,0,0,0,0,2
1540,1540,2,AUSTRIA,2018,1800,Kebab restaurant,"5,13,14",Insufficient legal basis for data processing,0,0,...,0,1,0,0,0,0,0,0,0,3
1541,1541,1,AUSTRIA,09/12/2018,4800,Betting place,13,Insufficient fulfilment of information obligat...,0,0,...,0,0,0,0,0,0,0,0,0,1

In [34]:
# Show the information of the df, data types and non values for each column
gdpr_violations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1542 entries, 0 to 1541
Data columns (total 63 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            1542 non-null   int64
 1   ID                    1542 non-null   int64
 2   Country               1542 non-null   object
 3   Date                  1542 non-null   object
 4   Amount                1542 non-null   int64
 5   Controller_Processor  1542 non-null   object
 6   Quoted_Art            1518 non-null   object
 7   Type                  1542 non-null   object
 8   Art_                  1542 non-null   int64
 9   Art_10                1542 non-null   int64
 10  Art_113               1542 non-null   int64
 11  Art_113471/2006       1542 non-null   int64
 12  Art_114               1542 non-null   int64
 13  Art_12                1542 non-null   int64
 14  Art_13                1542 non-null   int64
 15  Art_130               1542 non-null   int64
 16  Art_14                1542 non-null   int64
 17  Art_15                1542 non-null   int64
 18  Art_157               1542 non-null   int64
 19  Art_1590/2018         1542 non-null   int64
 20  Art_16                1542 non-null   int64
 21  Art_166               1542 non-null   int64
 22  Art_17                1542 non-null   int64
 23  Art_18                1542 non-null   int64
 24  Art_19                1542 non-null   int64
 25  Art_2-                1542 non-null   int64
 26  Art_20                1542 non-null   int64
 27  Art_21                1542 non-null   int64
 28  Art_22                1542 non-null   int64
 29  Art_23                1542 non-null   int64
 30  Art_24                1542 non-null   int64
 31  Art_25                1542 non-null   int64
 32  Art_26                1542 non-null   int64
 33  Art_27                1542 non-null   int64
 34  Art_27ćš              1542 non-null   int64
 35  Art_28                1542 non-null   int64
 36  Art_28Νόμος3471/2006  1542 non-null   int64
 37  Art_29                1542 non-null   int64
 38  Art_30                1542 non-null   int64
 39  Art_31                1542 non-null   int64
 40  Art_32                1542 non-null   int64
 41  Art_321               1542 non-null   int64
 42  Art_32506/2004        1542 non-null   int64
 43  Art_33                1542 non-null   int64
 44  Art_34                1542 non-null   int64
 45  Art_34-5              1542 non-null   int64
 46  Art_35                1542 non-null   int64
 47  Art_36                1542 non-null   int64
 48  Art_37                1542 non-null   int64
 49  Art_3759/2004         1542 non-null   int64
 50  Art_38                1542 non-null   int64
 51  Art_44                1542 non-null   int64
 52  Art_46                1542 non-null   int64
 53  Art_48                1542 non-null   int64
 54  Art_5                 1542 non-null   int64
 55  Art_58                1542 non-null   int64
 56  Art_6                 1542 non-null   int64
 57  Art_7                 1542 non-null   int64
 58  Art_8                 1542 non-null   int64
 59  Art_82                1542 non-null   int64
 60  Art_88                1542 non-null   int64
 61  Art_9                 1542 non-null   int64
 62  VIOLATED_ARTICLES     1542 non-null   int64
dtypes: int64(58), object(5)
memory usage: 759.1+ KB

In [24]:
# Show count of violations per country
gdpr_violations["Country"].value_counts()

Country
SPAIN              551
ITALY              205
ROMANIA            116
GERMANY            115
HUNGARY             54
GREECE              52
NORWAY              48
POLAND              41
BELGIUM             38
FRANCE              33
SWEDEN              27
CYPRUS              26
CZECH REPUBLIC      25
DENMARK             25
LUXEMBOURG          23
BULGARIA            21
THE NETHERLANDS     20
AUSTRIA             19
IRELAND             18
FINLAND             15
UNITED KINGDOM      12
SLOVAKIA             9
ICELAND              9
CROATIA              8
LITHUANIA            8
PORTUGAL             7
ESTONIA              6
LATVIA               5
ISLE OF MAN          3
MALTA                2
LIECHTENSTEIN        1
Name: count, dtype: int64

### DESCRIPTIVE STATISTICS

In [36]:
gdpr_violations.describe()

,Unnamed: 0,ID,Amount,Art_,Art_10,Art_113,Art_113471/2006,Art_114,Art_12,Art_13,...,Art_48,Art_5,Art_58,Art_6,Art_7,Art_8,Art_82,Art_88,Art_9,VIOLATED_ARTICLES
count,1542.000000,1542.000000,1.542000e+03,1542.000000,1542.000000,1542.000000,1542.000000,1542.000000,1542.000000,1542.000000,...,1542.000000,1542.000000,1542.000000,1542.000000,1542.000000,1542.000000,1542.000000,1542.000000,1542.000000,1542.000000
mean,770.500000,771.500000,1.553170e+06,0.016213,0.002594,0.001297,0.003243,0.003243,0.067445,0.154345,...,0.007134,0.513619,0.035019,0.297665,0.014916,0.001946,0.002594,0.001297,0.042153,1.725032
std,445.281372,445.281372,2.365178e+07,0.126334,0.062345,0.036002,0.056869,0.056869,0.250872,0.361396,...,0.084186,0.499977,0.183889,0.457380,0.121255,0.044079,0.050882,0.036002,0.201003,1.178273
min,0.000000,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,385.250000,386.250000,2.000000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,770.500000,771.500000,6.685000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,1155.750000,1156.750000,4.200000e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
max,1541.000000,1542.000000,7.460000e+08,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,10.000000

In [25]:
 ### Mean, standard deviation, etc. for fines
gdpr_violations["Amount"].describe()

count    1.542000e+03
mean     1.553170e+06
std      2.365178e+07
min      0.000000e+00
25%      2.000000e+03
50%      6.685000e+03
75%      4.200000e+04
max      7.460000e+08
Name: Amount, dtype: float64

### Filter the data

In [27]:
# Remove rows with missing dates
violations_with_date = gdpr_violations.dropna(subset=["Date"])  # Keep rows with valid dates
violations_2022 = violations_with_date[violations_with_date["Date"].str.contains("2022")]  # Filter for 2022

### OR

In [28]:
# Replace missing dates with a default value (e.g., 'NA')
gdpr_violations["Date"] = gdpr_violations["Date"].fillna("NA")
# Filter for 2022 (now includes rows with 'NA')
violations_2022 = gdpr_violations[gdpr_violations["Date"].str.contains("2022")]

In [29]:
# Select the violations in 2022
violations_2022 = gdpr_violations[gdpr_violations["Date"].str.contains("2022")]